@use '../styles/variables.scss' as *;

.error {
    font-family: $font-family;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;

    h1 {
        font-size: 17rem;
        color: $primary-color;
        margin-bottom: 4rem;
    }

    h2 {
        font-size: 2rem;
        color: $primary-color;
        margin-bottom: 8rem;
        font-weight: 500;
    }

    a {
        text-decoration: underline;
        color: $secondary-color;
        font-size: $font-size-base;
        display: inline-block;
    }
}

@media (max-width: 768px) {
    .error {
        padding: 1.5rem;

        h1 {
            font-size: 8rem;
        }

        h2 {
            font-size: 2rem;
        }

        a {
            font-size: 1.75rem;
        }
    }
}
