@use '../styles/variables' as *;

.collapse {
    background-color: $primary-color;
    font-family: $font-family;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;

    &__header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: none;
        border: none;
        padding: 1rem 1.5rem;
        cursor: pointer;
        color: $background-color;
        font-size: 1.5rem;
        font-weight: bold;
    }

    &__arrow {
        display: inline-block;
        width: 12px;
        height: 12px;
        border-right: 3px solid white;
        border-bottom: 3px solid white;
        transform: rotate(45deg);
        transition: transform 0.3s ease;

        &--open {
            transform: rotate(225deg);
        }
    }

    &__content {
        color: $secondary-color;
        background-color: #F6F6F6;
        font-size: 1.25rem;
        max-height: 0;
        overflow: hidden;
        padding: 0 1.5rem;
        transition: padding 0.3s ease;

        &--open {
            max-height: 600px;
            padding: 1rem 1.5rem;
        }
    }
}

@media (max-width: 768px) {
    .collapse {
        &__header {
            font-size: 1rem;
            padding: 0.3rem 0.5rem;
        }

        &__content {
            font-size: 0.875rem;

            &--open {
                padding: 0.75rem 1rem;
            }
        }
    }
}
